.masked-content {
  filter: blur(6px);
  position: relative;
}

.masked-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
}